
#grid_wrapper {
    grid-template-rows: 50px 500px 450px minmax(100px,1fr);
    grid-template-columns: 1fr;

    grid-template-areas: 
    "na"
    "we"
    "bo"
    "fo";
}

#navbar {
    grid-area: na;
    display: flex;
    justify-content: center;
}

#welcome {
    grid-area: we;
    text-align: center;
    
}

#bottom {
    grid-area: bo;
    text-align: center;
}

#footer {
    grid-area: fo;
    display: flex;
}

/* Page 2 */

#navbar2 {
    grid-area: na2;
    display: flex;
    justify-content: center;
}

/* Page 3 */

#navbar3 {
    grid-area: na3;
    display: flex;
    justify-content: center;
}